* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eba0ac;
}

image {
  width: 100px;
  height: 100px;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 1rem auto;
  border-radius: .5rem;
  box-shadow: 2px 2px 1px 1px #25252570;
  background-color: #1e1e2e;
}

.container .game {
  width: 100%;
  height: 100%;
  /* top */
  .game-info {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: .5rem;
    padding-right: 1rem;
    color: #cdd6f4;
    span {
      color: #a6e3a1;
    }
  }

  /* game middile */
  .game-table {
    min-height: 200px;
  }
  /* game middile */

  /* game controlls */
  .game-controlls {
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    width: 100%;
    min-height: 100px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    > div.btn {
      border: none;
      width: 100px;
      height: 80px;
      img {
        width: 60px;
        height: 60px;
      }
    }
  }

  /* game controlls */
}



